@model JoesPizza.Models.OrderDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetails</h4>
    <hr />
   
</div>
<div class="align-items-center">
    <img src="~/images/success.png" width="50" height="50" />
</div>
<div class="card mb-3">
    <div class="row g-0">
     
        <div class="col-md-8">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                      Order Id
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.OrderId)
                    </dd>
                  
                    <dt class="col-sm-4">
                      Name
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CustomerName)
                    </dd>
                    <dt class="col-sm-4">
                    Mobile Number
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.MobileNum)
                    </dd>
                    <dt class="col-sm-4">
                      Address
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DeliveryAddress)
                    </dd>
                    <dt class="col-sm-4">
                        Pin Code
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.pincode)
                    </dd>
                    <dt class="col-sm-4">
                        Quantity
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Qyt)
                    </dd>
                    <dt class="col-sm-4">
                       Total Amount
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TotalAmt)
                    </dd>
                    <dt class="col-sm-4">
                      Payment Status
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PaymentStatus)
                    </dd>
                    <dt class="col-sm-4">
                        Payment Type
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PaymentType)
                    </dd>
                    <dt class="col-sm-4">
                       Ordered Date
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.OdredDate)
                    </dd>
                    <dt class="col-sm-4">
                        Delivery Date
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DeliveryDate)
                    </dd>

                </dl>
               
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" asp-controller="Pizzas">Back to Home</a>
</div>
