@model IEnumerable<JoesPizza.Models.Pizza>

@{
    ViewData["Title"] = "Index";
}

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/2.png" class="d-block w-100" height="400" alt="...">
            <div class="carousel-caption d-none d-md-block">
                @*   <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p> *@
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/1.png" class="d-block w-100" height="400" alt="...">
            <div class="carousel-caption d-none d-md-block">
                @* <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p> *@
            </div>
        </div>
        <div class="carousel-item">

            <img src="~/images/black white simple opening banner.png" class="d-block w-100" height="400" class="d-block " alt="...">
            <div class="carousel-caption d-none d-md-block">
                @*   <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p> *@
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<h1>Pizza</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Image) *@
                @*     <img src="data:image;base64,@Convert.ToBase64String(item.Image)" alt="Image" width="120" height="120" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@ 
<div class="container text-center ">
    <div class="row mt-3">
        @foreach (var item in Model) {
        <div class="col">

            <div class="card" style="width: 18rem; height: 28rem">
                    <img src="data:image;base64,@Convert.ToBase64String(item.Image)" class="card-img-top" alt="...">
                <div class="card-body">
                        <h5 class="card-title h-25"> @Html.DisplayFor(modelItem => item.ItemName)</h5>
                        <p class="card-text  w-100 h-50"> @Html.DisplayFor(modelItem => item.Description) </p>
                        <span class="btn btn-success">Rs @Html.DisplayFor(modelItem => item.Price) /-</span>
                        <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
        }
        </div>
        </div>
